<div class="task-list">
    <div class="task-list__title">
      {{ taskInfo.nameTask }}
    </div>
    <div class="task-list__edit">
      <mat-icon (click)="deleteTask(taskInfo.idTask)" class="delete-button">delete</mat-icon>
    </div>
    <div [ngClass]="{'all-checked': isDone}"
    *ngIf="!(checked===allChecked && checked===0)"
    class="task-list__checked">
      <span *ngIf="isDone"><img  src="../../../../../assets/images/all-checked.svg" alt="checked">
         {{checked}}/{{allChecked}}
      </span>
      <span *ngIf="!isDone"><img  src="../../../../../assets/images/checked.svg" alt="checked">
        {{checked}}/{{allChecked}}
      </span>
    </div>
</div>
