<div class="modal-container">
  <h1 mat-dialog-title>Column info</h1>
  <div
    mat-dialog-content
    class="column-description__container"
  >
    <p
      *ngIf="!editDescription; else editColumnDescription"
      (click)="showEditDescription()"
    >
      {{ description.text }}
    </p>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="onNoClick()"
      cdkFocusInitial
    >
      Close
    </button>
    <button
      mat-button
      (click)="saveDescription()"
      cdkFocusInitial
    >
      Save
    </button>
  </div>
</div>

<ng-template #editColumnDescription>
  <textarea
    class="column-description__input"
    [(ngModel)]="descrText"
    (blur)="saveDescription()"
    appAutofocus
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="2"
    cdkAutosizeMaxRows="20"
  >
  </textarea>
</ng-template>
