.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 4px;
  padding: 1rem;
  padding-left: 2.5rem;
  margin: 10px auto 0;
}

.wrapper-progressbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-modal {
  cursor: pointer;
  position: absolute;
  top: -3px;
  right: 5px;
  &:hover {
    transform: scale(1.05);
  }
}

.title-wrapper {
  .title {
    position: relative;
    margin-bottom: 0;
    mat-icon {
      position: absolute;
      left: -32px;
      top: 3px;
    }
    input {
      margin-top: 10px;
      width: 100%;
      border: none;
      padding-left: 5px;
      font-size: 24px;
      &:focus {
        outline: 2px solid #3f51b5;
      }
      &:hover{
        background: whitesmoke;
      }
    }
  }
  p {
    span {
      text-decoration: underline;
    }
  }
}

.description-wrapper {
  .description {
    position: relative;
    margin: 0.5rem 0;
    mat-icon {
      position: absolute;
      left: -32px;
    }
  }
  textarea {
    font-size: 17px;
    padding-left: 10px;
    padding-top: 5px;
    min-height: 60px;
    width: 100%;
    border: none;
    resize: vertical;
    max-height: 300px;
    &:focus {
      outline: 2px solid #3f51b5;
    }
    &:hover {
      background: whitesmoke;
    }
  }
}

.checklist-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  margin-top: 2rem;
  h4 {
    margin-bottom: 0.5rem;
    position: relative;
    img {
      position: absolute;
      left: -32px;
    }
  }
  p {
    margin: 0;
    position: relative;
    left: -10px;
  }
  button {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.close-buttons {
  display: flex;
  justify-content: space-around;
  button {
    text-transform: uppercase;
  }
}
app-checkbox {
  margin-top: 10px;
}

mat-progress-bar {
  border-radius: 20px;
}

.task-create-wrapper {
  &.active-create{
    display: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: whitesmoke;
  }

  .delete-task {
    cursor: pointer;
    color: #3f51b5;
    transition: 0.3s;
    &:hover {
      transform: rotate(15deg);
    }
  }


  .task-create {
    display: flex;
    align-items: baseline;
    width: 100%;

    .create {
      width: 100%;
      input {
        border: 1px solid #3f51b5;
        background: rgb(245, 245, 245);
        width: 100%;
        padding-bottom: 25px;
        padding-left: 5px;
        padding-top: 5px;
        font-size: 17px;
        &:focus {
          outline: 1px solid #3f51b5 !important;
        }
      }
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-button {
        margin-top: 5px;
        display: flex;
        gap: 10px;
        align-items: center;
        button {
          margin: 0;
        }
      }
    }
  }
}

.add-element{
  &.active-create{
    display: none;
  }
}


