<div class="column-container">
  <div class="column__header">
    <h2
      class="column__title"
      *ngIf="!isShowEditColumnTitle"
      (click)="showEditColumnTitle()"
    >
      {{ column.nameColumn }}
    </h2>
    <textarea
      class="column__title_edit"
      matInput
      *ngIf="isShowEditColumnTitle"
      (blur)="hideEditColumnTitle(column)"
      (keydown.enter)="hideEditColumnTitle(column)"
      [value]="column.nameColumn"
      #titleInput
      [(ngModel)]="column.nameColumn"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="7"
    ></textarea>
    <div
      class="column__menu"
      [matMenuTriggerFor]="columnMenu"
      (click)="showedColumnMenu()"
    >
      <mat-icon>more_horiz</mat-icon>
    </div>
  </div>
  <div
    id="{{ column.idColumn }}"
    class="task-list"
    [cdkDropListData]="{tasks, column}"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="getConnectedToList(column.idColumn)"
  >
    <app-task
      *ngFor="let task of tasks"
      (click)="openModal(task)"
      class="task-list__item"
      [taskInfo]="task"
      cdkDrag
    ></app-task>
  </div>

  <button
    *ngIf="!showAddTaskControl; else addTask"
    class="column__add-task"
    (click)="showAddTask()"
  >
    + Add task
  </button>

  <ng-template #addTask>
    <app-add-controls
      addButtonText="Add task"
      (addButtonPressed)="addNewTaskHandler($event)"
      (cancelButtonPressed)="cancelTaskCreation()"
    ></app-add-controls>
  </ng-template>
</div>

<mat-menu #columnMenu>
  <button
    mat-menu-item
    (click)="showColumnInfo()"
  >
    <mat-icon class="menu-item__icon">info</mat-icon>
    <span class="menu-item__title">Show column description</span>
  </button>
  <button
    mat-menu-item
    (click)="deleteColumn(column)"
  >
    <mat-icon class="menu-item__icon">delete_forever</mat-icon>
    <span class="menu-item__title">Delete column</span>
  </button>
  <hr />
  <button
    mat-menu-item
    [matMenuTriggerFor]="columnsList"
  >
    <mat-icon class="menu-item__icon">playlist_play</mat-icon>
    <span class="menu-item__title">Move all tasks to other column...</span>
  </button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="boardsList"
  >
    <mat-icon class="menu-item__icon">dashboard</mat-icon>
    <span class="menu-item__title">Move column to other board</span>
  </button>
</mat-menu>

<mat-menu #columnsList>
  <ng-container *ngFor="let columnItem of directionColumns">
    <button
      mat-menu-item
      (click)="moveTaskToNewColumn(columnItem)"
    >
      <span class="menu-item__title">{{ columnItem.nameColumn }}</span>
    </button>
  </ng-container>
  <p
    class="no-items"
    *ngIf="directionColumns.length === 0"
  >
    No columns to move
  </p>
</mat-menu>

<mat-menu #boardsList>
  <ng-container *ngFor="let boardItem of allBoards">
    <button
      mat-menu-item
      (click)="moveColumnToOtherBoard(boardItem)"
    >
      <span class="menu-item__title">{{ boardItem.nameBoard }}</span>
    </button>
  </ng-container>
  <p
    class="no-items"
    *ngIf="directionColumns.length === 0"
  >
    No boards to move
  </p>
</mat-menu>
