<div class="column-container">
  <div class="column__header">
    <h2
      class="column__title"
      *ngIf="!isShowEditColumnTitle"
      (click)="showEditColumnTitle()"
    >
      {{ column.nameColumn }}
    </h2>
    <textarea
      class="column__title_edit"
      matInput
      *ngIf="isShowEditColumnTitle"
      (blur)="hideEditColumnTitle(column)"
      (keydown.enter)="hideEditColumnTitle(column)"
      [value]="column.nameColumn"
      #titleInput
      [(ngModel)]="column.nameColumn"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="7"
    ></textarea>
    <div class="column__menu">
      <mat-icon>more_horiz</mat-icon>
    </div>
  </div>
  <div
    id="{{ column.idColumn }}"
    class="task-list"
    [cdkDropListData]="{tasks, column}"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="getConnectedToList(column.idColumn)"
  >
    <app-task
      *ngFor="let task of tasks"
      (click)="openModal(task)"
      class="task-list__item"
      [taskInfo]="task"
      cdkDrag
    ></app-task>
  </div>

  <button
    *ngIf="!showAddTaskControl; else addTask"
    class="column__add-task"
    (click)="showAddTask()"
  >
    + Add task
  </button>

  <ng-template #addTask>
    <app-add-controls
      addButtonText="Add task"
      (addButtonPressed)="addNewTaskHandler($event)"
      (cancelButtonPressed)="cancelTaskCreation()"
    ></app-add-controls>
  </ng-template>
</div>
