header {
    background: #026aa7;
    width: 100%;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 45px;
        @media (max-width: 500px) {
            height: 60px;
        }
    }
}

.trello-logo {
    display: flex;
    gap: 50px;
    @media (max-width: 400px) {
        gap: 15px;
    }
    button {
        background: none;
        border: none;
        border-radius: 4px;
        padding: 8px;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
        @media (max-width: 500px) {
            font-size: 16px;
        }
        &:hover {
            background: rgba(9, 30, 66, 35%);
        }
        img {
            height: 15px;
        }
        svg {
            height: 15px;
            transform: scale(1.4);
            @media (max-width: 360px) {
                transform: scale(2);
            }
        }
        span {
            @media (max-width: 360px) {
                display: none;
            }
        }
    }
}

.authorization {
    @media (max-width: 515px) {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    button {
        margin: 0 10px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 4px;
        border: none;
        background: #4c8bb0;
        color: #fff;
        @media (max-width: 515px) {
            padding: 2px 10px;
            font-size: 12px;
        }
        &:hover {
            background: rgba(9, 30, 66, 35%);
            color: #d6f0ff;
        }
        &:active {
            position: relative;
            top: 1px;
        }
    }
}

button {
    cursor: pointer;
}

.search-container {
    .search {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        margin: 0 25px;
        position: relative;
        @media (max-width: 750px) {
            top: -13px;
        }
        input[type="search"] {
            outline: none;
            border-radius: 0.3rem;
            padding: 4px;
            padding-left: 25px;
            background-color: rgb(53, 136, 185);
            border: none;
            caret-color: white;
            color: white;
            &::-webkit-search-cancel-button {
                appearance: none;
            }
            &:focus {
                border: 2px solid rgba(255, 255, 255, 0.25);
                background-color: white;
                caret-color: black;
                color: black;
                &::placeholder {
                    visibility: hidden;
                }
            }
            &::placeholder {
                color: white;
            }
            @media (max-width: 750px) {
                width: 0;
                top: 0;
                left: 0;
                position: absolute;
                background: none;
                border: none;
                &:focus {
                    width: auto;
                }
            }
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            z-index: 2;
            svg {
                transform: scale(0.8);
            }
        }
    }
}

.result-container {
    width: 195px;
    min-height: 40px;
    background: white;
    border: 1px solid rgba(9, 30, 66, 0.3);
    box-shadow: rgba(9, 30, 66, 0.3) 0px 0.25rem 0.5rem 0px;
    position: absolute;
    display: none;
    left: 0;
    top: 30px;
    border-radius: 0.3rem;
    .result {
        cursor: pointer;
        padding: 0.25rem 0.5rem;
    }
}
