header {
  background: #026aa7;
  position: fixed;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.trello-logo {
  display: flex;
  gap: 50px;
}

.trello-logo button {
  background: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.trello-logo button:hover {
  background: #091e42;
}

.trello-logo button img {
  height: 15px;
}

.trello-logo button svg {
  height: 15px;
  transform: scale(1.4);
}

.button-container button {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  background: #4c8bb0;
  color: #fff;
}

.button-container button:hover {
  background: #091e42;
  color: #d6f0ff;
}

.button-container button:active {
  position: relative;
  top: 1px;
}

button {
  cursor: pointer;
}
