header {
  background: #026aa7;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

@media (max-width: 500px) {
  header .container {
    height: 60px;
  }
}

.trello-logo {
  display: flex;
  gap: 50px;
}

@media (max-width: 400px) {
  .trello-logo {
    gap: 15px;
  }
}

.trello-logo button {
  background: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

@media (max-width: 500px) {
  .trello-logo button {
    font-size: 16px;
  }
}

.trello-logo button:hover {
  background: #091e42;
}

.trello-logo button img {
  height: 15px;
}

.trello-logo button svg {
  height: 15px;
  transform: scale(1.4);
}

@media (max-width: 360px) {
  .trello-logo button svg {
    transform: scale(2);
  }
}

@media (max-width: 360px) {
  .trello-logo button span {
    display: none;
  }
}

@media (max-width: 515px) {
  .authorization {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.authorization button {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  background: #4c8bb0;
  color: #fff;
}

@media (max-width: 515px) {
  .authorization button {
    padding: 2px 10px;
    font-size: 12px;
  }
}

.authorization button:hover {
  background: #091e42;
  color: #d6f0ff;
}

.authorization button:active {
  position: relative;
  top: 1px;
}

button {
  cursor: pointer;
}

.search-container {
  position: relative;
  top: 11px;
}

@media (max-width: 750px) {
  .search-container {
    display: none;
  }
}

.search-container .search {
  margin: 0 25px;
}

.search-container .search span {
  position: absolute;
  top: 5px;
  left: 30px;
  color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
