.board-page {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;


  .container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__boards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  &__create {
    transition: .5s;
    border-radius: 2px;
    cursor: pointer;
    width: 290px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: rgb(107, 103, 103, 0.7);
    background: rgb(107, 103, 103, 0.2);

    span{
      text-align: center;
      width: 290px;
    }

    &:hover {
      background: rgb(107, 103, 103, 0.3);
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(107, 103, 103, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  .form-create{
    display: flex;
    flex-direction: column;
    background: #026aa7;
    padding: 20px 50px 40px 50px;
    border-radius: 3px;

    .validation{
      color: red;
    }

    label{
      display: block;
      color: #fff;
    }

    &__title{
      font-size: 20px;
      text-align: center;
      color: #fff;
      letter-spacing: 1px;
    }

    &__name{
      margin-top: 30px;
      input{
        padding-left: 10px;
        margin-top: 5px;
        width: 100%;
        height: 28px;
        border-radius: 3px;
        &.ng-invalid{
          border: 2px solid red;
        }
        &.ng-valid{
          border: 2px solid green;
        }
        &.ng-untouched{
          border: none;
        }
      }
    }

    &__description{
      margin-top: 5px;
      textarea{
        padding-left: 10px;
        margin-top: 5px;
        width: 100%;
        resize: vertical;
        max-height: 400px;
        &.ng-invalid{
          border: 2px solid red;
        }
        &.ng-valid{
          border: 2px solid green;
        }
        &.ng-untouched{
          border: none;
        }
      }
    }

    &__button{
      cursor: pointer;
      margin-top: 20px;
      height: 28px;
      font-size: 16px;
    }
  }
}

@media (max-width:635px){
  .board-page {
    .container {
      flex-wrap: wrap;
    }
  }
}
