<div
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  class="workspace__container"
  [cdkDropListData]="columns"
  cdkDropListOrientation="horizontal"
  #workspaceElement
>
  <app-column
    *ngFor="let column of columns"
    [column]="column"
    cdkDrag
    [getConnectedList]="columnsIdsFunc"
    class="workspace__column"
    [columnsInBoard]="columns"
    (deletedTask)="deleteColumn($event)"
  ></app-column>
  <button
    class="workspace__add-column-btn"
    (click)="showAddColumn()"
    *ngIf="!showAddControl; else addColumnControl"
  >
    Add a new column...
  </button>

  <ng-template #addColumnControl>
    <app-add-controls
      addButtonText="Add a new column"
      (addButtonPressed)="addNewColumn($event)"
      (cancelButtonPressed)="hideAddColumn()"
    >
    </app-add-controls>
  </ng-template>
</div>
