<div class="checkbox-wrapper">
  <div class="checkbox">
    <mat-checkbox
    color="primary"
      (input)="updateCheckBox()"
      [(ngModel)]="checkboxValue"
    >
    </mat-checkbox>
    <span [class.isDone]="checkbox.isChoose" class="no-edit"
      (mousedown)="updateIsChoose($event)"
      [ngClass]="{'active':isChoose}"
      >{{ checkbox.nameCheckBox }}</span
    >
    <span [ngClass]="{'active':!isChoose}" class="edit" >
        <input class="edit-input"
        [(ngModel)]="inputValue"
        type="text"
        (keydown.enter)="enterPressedInputUpdate($event)"
        (blur)="updateIsChooseBlur($event)"
      />
      <div class="edit__wrapper">
        <div class="edit__button">
          <button
          (mousedown)="updateIsChoose($event);
          updateName()" mat-raised-button color="primary"
          [disabled]="!inputValue.length"
          >Save</button>
          <mat-icon class="close" (mousedown)="updateIsChoose($event)">close</mat-icon>
        </div>
        <mat-icon (mousedown)="deleteCheckbox(checkbox.idCheckBox)" *ngIf="isChoose" color="warn" class="delete-task">delete_forever</mat-icon>
      </div>
    </span>

  </div>
</div>
