<div
  (mouseover)="offerOpenBoard($event)"
  (mouseleave)="leaveBoard()"
  class="board"
>
  <div class="board__wrapper">
    <h4 class="board__wrapper__title">{{ board.nameBoard }}</h4>
    <div class="board__wrapper__edit">
      <div (click)="updateBoard(board.idBoard)">
        <img
          src="../../../../../assets/images/edit.svg"
          alt="edit"
        />
      </div>
      <button
        [disabled]="submitted"
        class="button-empty"
        (click)="deleteBoard(board.idBoard)"
      >
        <img
          src="../../../../../assets/images/delete.svg"
          alt="delete"
        />
      </button>
      <div [matMenuTriggerFor]="description"
      >
        <img
          src="../../../../../assets/images/description.svg"
          alt="description"
        />
      </div>
    </div>
  </div>
  <button
    (click)="updateFavorite(board)"
    class="board__chosen button-empty"
  >
    <img
      *ngIf="!board.isChosen"
      src="../../../../../assets/images/star-empty.svg"
      alt="empty-start"
    />
    <img
      *ngIf="board.isChosen"
      src="../../../../../assets/images/star-black.svg"
      alt="star-black"
    />
  </button>
  <div
    (click)="openBoard($event)"
    *ngIf="isOfferOpenBoard"
    class="board__offer-open"
  >
    <span *transloco="let t">{{ t('board.open') }}</span>
  </div>
  <!-- <div
    *ngIf="isDelete"
    class="board__spinner"
  >
    <img
      src="../../../../../assets/images/spinner.svg"
      alt="spinner"
    />
  </div> -->
  <mat-menu #description="matMenu"
    class="description-board"
  >
    <small class="description-board__date">{{ board.dateBoard | date : 'medium' }}</small>
    <div class="description-board__name">{{ board.nameBoard }}</div>
    <div class="description-board__description">{{ board.descriptionBoard }}</div>
    <div class="description-board__info">
      <span
        ><b *transloco="let t">{{ t('board.columns') }}:</b> {{ board.columns.length }}</span
      >,
      <span
        ><b *transloco="let t">{{ t('board.tasks') }}:</b> {{ amountTasks(board.columns) }}</span
      >
    </div>
    <img
      class="description-board__star"
      *ngIf="board.isChosen"
      src="../../../../../assets/images/star-black.svg"
      alt="fill"
    />
    <button
      (click)="closeDescription()"
      class="description-board__button"
      *transloco="let t"
      mat-raised-button
      color="primary"
    >
      {{ t('board.close') }}
    </button>
  </mat-menu>
</div>
