<form
  [formGroup]="form"
  class="registration"
>
  <mat-card class="registration__wrapper">
    <img
      class="icon-user"
      src="../../../../assets/images/user-icon.svg"
      alt="user"
    />
    <span
      class="title"
      *transloco="let t"
      >{{ t('signUp.signUp') }}</span
    >

    <mat-form-field class="registration__firstname">
      <mat-label *transloco="let t">{{ t('signUp.firstName') }}</mat-label>
      <input
        matInput
        formControlName="firstNameControl"
      />
      <mat-error
        *ngIf="form.get('firstNameControl').invalid && form.get('firstNameControl').touched"
      >
        <span *ngIf="form.get('firstNameControl').errors.required"
          ><span *transloco="let t">{{ t('signUp.firstNameError') }}</span></span
        >
        <span *ngIf="form.get('firstNameControl').errors.pattern">
          <span *transloco="let t">{{ t('signUp.nameValidError') }}</span>
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="registration__lastname">
      <mat-label *transloco="let t">{{ t('signUp.lastName') }}</mat-label>
      <input
        matInput
        formControlName="lastNameControl"
      />
      <mat-error *ngIf="form.get('lastNameControl').invalid && form.get('lastNameControl').touched">
        <span *ngIf="form.get('lastNameControl').errors.required"
          ><span *transloco="let t">{{ t('signUp.lastNameError') }}</span></span
        >
        <span *ngIf="form.get('lastNameControl').errors.pattern">
          <span *transloco="let t">{{ t('signUp.nameValidError') }}</span
          >`
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label *transloco="let t">{{ t('signUp.gender') }}</mat-label>
      <mat-select formControlName="sexControl">
        <mat-option
          *ngFor="let gender of genders"
          [value]="gender.value"
        >
          {{ gender.viewValue }}<mat-icon>{{ gender.value }}</mat-icon>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('sexControl').invalid && form.get('sexControl').touched">
        <span *ngIf="form.get('sexControl').errors.required"
          ><span *transloco="let t">{{ t('signUp.genderError') }}</span></span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label *transloco="let t">{{ t('signUp.email') }}</mat-label>
      <input
        type="email"
        matInput
        formControlName="emailFormControl"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="form.get('emailFormControl').invalid && form.get('emailFormControl').touched"
      >
        <span *ngIf="form.get('emailFormControl').errors.required"
          ><span *transloco="let t">{{ t('signUp.emailError') }}</span></span
        >
        <span *ngIf="form.get('emailFormControl').errors.email"
          ><span *transloco="let t">{{ t('signUp.correctEmailError') }}</span></span
        >
        <span *ngIf="form.get('emailFormControl').errors.restricredEmail">
          <span *transloco="let t">{{ t('signUp.email') }}</span>
          {{ form.get('emailFormControl').value }}
          <span *transloco="let t">{{ t('signUp.existError') }}</span>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label *transloco="let t">{{ t('signUp.password') }}</mat-label>
      <input
        (input)="updateSubmitted()"
        formControlName="enterPassword"
        matInput
        [type]="isHidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="isHidePassword = !isHidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isHidePassword"
      >
        <mat-icon>{{ isHidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('enterPassword').invalid && form.get('enterPassword').touched">
        <span *ngIf="form.get('enterPassword').errors.required"
          ><span *transloco="let t">{{ t('signUp.passwordExistError') }}</span></span
        >
        <span *ngIf="form.get('enterPassword').errors.pattern">
          <span *transloco="let t">{{ t('signUp.passwordError') }}</span>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label *transloco="let t">{{ t('signUp.repeatPassword') }}</mat-label>
      <input
        (input)="updateSubmitted()"
        formControlName="repeatPassword"
        matInput
        [type]="isHidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="isHidePassword = !isHidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isHidePassword"
      >
        <mat-icon>{{ isHidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('repeatPassword').invalid && form.get('repeatPassword').touched">
        <span *ngIf="form.get('repeatPassword').errors.required"
          ><span *transloco="let t">{{ t('signUp.passwordExistError') }}</span></span
        >
        <span *ngIf="form.get('repeatPassword').errors.pattern">
          <span *transloco="let t">{{ t('signUp.passwordError') }}</span>
        </span>
      </mat-error>
    </mat-form-field>
    <button
      (click)="sendForm()"
      [disabled]="form.invalid || isSubmitted"
      mat-raised-button
      *transloco="let t"
    >
      {{ t('signUp.signUp') }}
    </button>
    <mat-error
      class="isSubmitted"
      *ngIf="isSubmitted"
      ><span *transloco="let t">{{ t('signUp.passwordMismatch') }}</span></mat-error
    >
  </mat-card>
</form>
<app-success-modal
  (onCloseModal)="closeModal($event)"
  [isLoading]="isLoading"
  *ngIf="isSendForm"
></app-success-modal>
<app-footer></app-footer>
