<form class="registration">


  <mat-card  class="registration__wrapper">
    <span class="title">Sign Up</span>

    <mat-form-field class="registration__firstname">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="registration__lastname">
      <mat-label>Last name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="isHidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="isHidePassword = !isHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidePassword">
        <mat-icon>{{isHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Repeat your password</mat-label>
      <input matInput [type]="isHidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="isHidePassword = !isHidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidePassword">
        <mat-icon>{{isHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button>Sign Up</button>
  </mat-card>
</form>
<app-footer></app-footer>
