<footer>
  <div class="container">
    <div class="footer-logo">
      <a href="https://rs.school/js/"
        ><img src="../../../../assets/images/rs-logo.svg" alt="rs-logo"
      /></a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="https://github.com/StanislavMamulin">StanislavMamulin</a>
        </li>
        <li><a href="https://github.com/ZhEkA717">ZhEkA717</a></li>
        <li><a href="https://github.com/Nebesnaya94">Nebesnaya94</a></li>
      </ul>
    </nav>
    <div class="year">2023</div>
  </div>
</footer>
