<div class="modal">
  <div mat-dialog-title class="modal-info">
    <mat-icon color="primary">info</mat-icon><span>HotKeys</span>
  </div>
  <div mat-dialog-content class="keys-wrapper">

    <mat-card class="modal-keys">
      Нажатие «/» перенесёт курсор в поле поиска в заголовке.
    </mat-card>

    <mat-card class="modal-keys">
      Нажатие «esc» закроет диалоговое или всплывающее окно и отменит внесённые изменения.
    </mat-card>
    <mat-card class="modal-keys">
      Чтобы добавить столбец, нажмите «-».
    </mat-card>
    <mat-card class="modal-keys">
      Чтобы добавить задачу, нажмите «+».
    </mat-card>
    <mat-card class="modal-keys">
      Перейти в меню выбора досок "B"
    </mat-card>
    <button class="modal-button" mat-raised-button mat-dialog-close color="primary">
      Ok
    </button>
  </div>

</div>
