.modal-info{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 20px;
  margin-left: -20px;
}

.keys-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-keys{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
