/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.container {
    max-width: 1200px;
    margin: auto;
}

html,
body,
app-root {
    height: 100%;
}

app-main,
app-header,
app-root {
    display: flex;
}

app-root {
    flex-direction: column;
}

app-main {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box
        border-box rgb(178, 212, 255);
}

app-header {
    z-index: 5;
    width: 100%;
    position: fixed;
    top: 0;
}

router-outlet {
    padding-top: 45px;
    @media (max-width: 500px) {
        padding-top: 60px;
    }
}

html {
    --scrollbarBG: lightgray;
    --thumbBG: rgba(17, 86, 152, 0.8);
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 150px;
}

.mat-mdc-form-field-infix {
    min-height: 32px;
}

.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c82-0.mdc-text-field--filled.mdc-text-field--no-label {
    padding-left: 33px;
    border-radius: 4px;
}

.mat-mdc-option.mat-mdc-focus-indicator.mdc-list-item.ng-tns-c84-1 {
    min-height: 32px;
}
